absl-py==1.0.0
aiohttp==3.8.4
aiosignal==1.3.1
appdirs==1.4.4
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.2
attrs==22.2.0
aubio==0.4.9
audioread==3.0.0
autogpt==0.0.1.dev0
autopep8==1.6.0
beautifulsoup4==4.12.0
black==23.3.0
blender==1.4
branca==0.6.0
cachetools==5.0.0
cairocffi==1.5.0
CairoSVG==2.7.0
certifi==2021.10.8
cffi==1.15.1
cfgv==3.3.1
chardet==5.1.0
charset-normalizer==2.0.12
chess==1.9.4
click==8.1.3
colorama==0.4.6
coverage==7.2.2
cryptography==40.0.1
cssselect==1.2.0
cssselect2==0.7.0
cycler==0.11.0
decorator==4.4.2
defusedxml==0.7.1
diagrams==0.23.3
discord.py==2.2.2
distlib==0.3.6
distro==1.8.0
dnspython==2.3.0
docker==6.0.1
duckduckgo-search==2.8.6
exceptiongroup==1.1.1
ffmpeg==1.4
filelock==3.11.0
flake8==6.0.0
Flask==2.0.3
flatbuffers==2.0
folium==0.14.0
fonttools==4.29.1
frozendict==2.3.6
frozenlist==1.3.3
gast==0.5.3
gitdb==4.0.10
GitPython==3.1.31
google-api-core==2.11.0
google-api-python-client==2.48.0
google-auth==2.17.1
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-cloud-speech==2.19.0
google-cloud-texttospeech==2.14.1
Google-Images-Search==1.4.6
google-pasta==0.2.0
googleapis-common-protos==1.59.0
graphviz==0.20.1
green==3.4.3
grpcio==1.53.0
grpcio-status==1.53.0
gTTS==2.3.1
h11==0.14.0
h5py==3.6.0
html5lib==1.1
httplib2==0.22.0
identify==2.5.22
idna==3.3
imageio==2.27.0
imageio-ffmpeg==0.4.8
importlib-metadata==4.11.0
iniconfig==2.0.0
isort==5.12.0
itsdangerous==2.1.0
Jinja2==3.0.3
joblib==1.2.0
keras==2.8.0
Keras-Preprocessing==1.1.2
keyring==23.5.0
keyrings.alt==4.1.0
kiwisolver==1.3.2
lazy_loader==0.2
libclang==13.0.0
librosa==0.10.0.post2
llvmlite==0.39.1
loguru==0.7.0
lxml==4.9.2
Markdown==3.3.6
MarkupSafe==2.1.0
matplotlib==3.5.1
mccabe==0.7.0
moviepy==1.0.3
mpmath==1.3.0
msgpack==1.0.5
multidict==6.0.4
multitasking==0.0.11
mypy-extensions==1.0.0
networkx==2.8.5
nodeenv==1.7.0
numba==0.56.4
numpy==1.23.5
oauthlib==3.2.0
openai==0.27.2
opt-einsum==3.3.0
orjson==3.8.10
outcome==1.2.0
packaging==23.1
pandas==1.4.0
pathspec==0.11.1
patsy==0.5.2
Pillow==9.0.1
pinecone-client==2.2.1
plantuml==0.3.0
platformdirs==3.2.0
playsound==1.2.2
plotly==5.13.1
pluggy==1.0.0
pooch==1.6.0
pre-commit==3.2.2
proglog==0.1.10
proto-plus==1.22.2
protobuf==4.22.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.10.0
pycparser==2.21
pydot==1.4.2
pydub==0.25.1
pyfiglet==0.8.post1
pyflakes==3.0.1
pygame==2.3.0
pyicloud==1.0.0
pyparsing==3.0.7
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.1
PySocks==1.7.1
pytesseract==0.3.9
pytest==7.3.1
pytest-mock==3.10.0
python-chess==1.999
python-dateutil==2.8.2
python-dotenv==1.0.0
python-resize-image==1.1.20
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
pyUML==0.1.0a0
PyYAML==6.0
readability-lxml==0.8.1
redis==4.5.4
regex==2023.3.23
requests==2.28.2
requests-oauthlib==1.3.1
rsa==4.8
scikit-learn==1.2.2
scipy==1.8.0
selenium==4.8.3
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.4
sourcery==1.2.0
soxr==0.3.5
SpeechRecognition==3.10.0
statsmodels==0.13.2
stockfish==3.28.0
sympy==1.11.1
tenacity==8.2.2
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.8.0
tensorflow-io-gcs-filesystem==0.24.0
termcolor==1.1.0
tf-estimator-nightly==2.8.0.dev2021122109
threadpoolctl==3.1.0
tiktoken==0.3.3
tinycss2==1.2.1
toml==0.10.2
tomli==2.0.1
torch==2.0.0
tqdm==4.65.0
trio==0.22.0
trio-websocket==0.10.2
tweepy==4.13.0
typed-ast==1.5.4
typing_extensions==4.5.0
tzdata==2021.5
tzlocal==4.1
Unidecode==1.3.6
uritemplate==4.1.1
urllib3==1.26.8
virtualenv==20.21.0
webdriver-manager==3.8.6
webencodings==0.5.1
websocket-client==1.5.1
Werkzeug==2.0.3
wrapt==1.13.3
wsproto==1.2.0
yarl==1.8.2
yfinance==0.2.14
zipp==3.7.0
