// src/components/user/user.module.scss
@import '../../global';

.button {
    padding: $button-padding;
    background-color: $button-background-color;
    color: $button-text-color;
    border: 2px solid $button-border-color;
    border-radius: $button-border-radius;
    font-weight: $button-font-weight;
    font-size: $button-font-size;
    font-family: $button-font-family;
    transition: $button-transition;
    margin: 5px;
  
    &:hover {
      background-color: $tertiary-color;
      box-shadow: $button-box-shadow;
      transform: translateY(-2px);
    }
  
    &:active {
      box-shadow: none;
      color: black; // Change font color on click
      transform: translateY(0);
    }
  
    &:disabled {
      pointer-events: none;
    }
  }
  
  .active {
    background-color: $tertiary-color;
    color: $secondary-color;
  }
  .UsernameButton {
    margin: 0px 0px 0px 6px;
    padding-top: 0px;
    padding-bottom: 2.5px;
    text-align: start;
    padding-right: 12px;
    position: relative;
    bottom: -3px;
    font-size: 13px;
  }
  
  .clicked {
    color: black;
  }
  